<div class="table-action">
  <a class="button" href="/members/new">Add Member</a>
</div>
<table class="table" border="1">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Conctact number</th>
    <th>Email</th>
    <th>Premium</th>
    <th>Action</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.first_name() %></td>
    <td><%= member.last_name() %></td>
    <td><%= member.contact_number() %></td>
    <td><%= member.email() %></td>
    <!-- <td><%= member.premium() %></td> -->
    <td>
      <%= member.premium() == 1 ? '✔️' : '✖️' %>
    </td>
    <td>
      <form method="get" action="/members/<%= member.id() %>/edit">
        <a class="button-xs" href="/members/<%= member.id()%>/edit">Edit</a>
      </form>
    </td>
  </tr>
  <% end %>
</table>
