<div class="table-action">
  <form method="get" action="/members/new">
    <input type="submit" value="Add"/>
  </form>
</div>
<table class="table" border="1">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Conctact number</th>
    <th>Email</th>
    <th>Premium</th>
    <th>Action</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.first_name() %></td>
    <td><%= member.last_name() %></td>
    <td><%= member.contact_number() %></td>
    <td><%= member.email() %></td>
    <td><%= member.premium() %></td>
    <td>
      <form method="get" action="/members/<%= member.id() %>/edit">
        <input type="submit" value="Edit"/>
      </form>
    </td>
  </tr>
  <% end %>
</table>
